.c-modal__content {
  padding-top: $nb-spacing-unit;
}

.c-modal__header {
  position: relative;
  z-index: 6;
  height: 3.5rem;
  padding: 0.65rem $nb-spacing-unit;
  color: $nb-color-white;
  background-color: $nb-color-beta;
}

.c-modal__title {
  position: absolute;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-modal__description img {
  width: 100%;
}

.c-modal__dismiss {
  color: $nb-color-white;
  top: 0.75rem;
  height: auto;

  &::after {
    height: 30px;
    background-color: $nb-color-beta;
    background-position: center 0.4rem;
  }
}

.o-grid--equal-height .c-modal, 
.o-grid--equal-height .o-grid__item .c-modal {
  width: auto;
}

@media (min-width: 480px) {
  .c-modal__title {
    width: 380px;
  }
}