.c-tags {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $nb-color-base-border;
  padding-top: $nb-spacing-unit;
}

.c-tags__item {
  position: relative;
  height: 26px;
  background: $nb-color-alpha;
  color: $nb-color-white;
  padding-left: ($nb-spacing-unit + $nb-spacing-unit-third);
  padding-right: ($nb-spacing-unit + $nb-spacing-unit-third);
  margin-right: $nb-spacing-unit-third;
  margin-bottom: $nb-spacing-unit-half;
  transition: color $nb-transition-duration;
  font-weight: bold;
  text-decoration: none;

  &:hover, &:focus {
    color: $nb-color-white;
  }

  &::after, 
  &::before {
    content: '';
    position: absolute;
    background: $nb-color-grey-v-light;    
  }

  &::before {
    top: 10px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  }

  &::after {
    top: 0;
    right: 0;
    bottom: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid $nb-color-alpha;
  }
}